{% if global.request.uri is defined %}
    {% if (global.request.uri | split('?'))[1] is defined %}
        {%  set filters_query_string = '?' ~ (global.request.uri | split('?'))[1] %}
    {% else %}
        {%  set filters_query_string = '' %}
    {% endif %}
{% else %}
    {%  set filters_query_string = '' %}
{% endif %}

<table border="solid" cellpadding="15">
    <tr>
        <td>
            <h3>
                <a href="{{ url('ranking_full_list', {id: 'participations'})}}{{ filters_query_string }} ">
                    Top Participation
                </a>
            </h3>
            <table class="table table-striped pr_list">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for participation in participations %}
                    <tr>
                        <td><a href="{{ url('profile',{'id':participation.id}) }}">{{ participation.username }}</a></td>
                        <td class="ranking_total">{{ participation.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>
            <h3>
                <a href="{{ url('ranking_full_list', {id: 'approvals'})}}{{ filters_query_string }} ">
                    Top Approvals
                </a>
            </h3>
            <table class="table table-striped pr_list">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for approve in approvers %}
                    <tr>
                        <td><a href="{{ url('profile',{'id':approve.id}) }}">{{ approve.username }}</a></td>
                        <td class="ranking_total">{{ approve.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>
            <h3>
                <a href="{{ url('ranking_full_list', {id: 'pickies'})}}{{ filters_query_string }} ">
                    Top Request for Changes
                </a>
            </h3>
            <table class="table table-striped pr_list">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for pickie in pickies %}
                    <tr>
                        <td><a href="{{ url('profile',{'id':pickie.id}) }}">{{ pickie.username }}</a></td>
                        <td class="ranking_total">{{ pickie.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3>
                <a href="{{ url('ranking_full_list', {id: 'unfinished'})}}{{ filters_query_string }} ">
                    Top Unfinished Reviews
                </a>
            </h3>
            <table class="table table-striped pr_list">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for nonFinished in nonFinished %}
                    <tr>
                        <td><a href="{{ url('profile',{'id':nonFinished.id}) }}">{{ nonFinished.username }}</a></td>
                        <td class="ranking_total">{{ nonFinished.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>
            <h3>
                <a href="{{ url('ranking_full_list', {id: 'comments'})}}{{ filters_query_string }} ">
                    Top Comments
                </a>
            </h3>
            <table class="table table-striped pr_list">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for commenter in commenters %}
                    <tr>
                        <td><a href="{{ url('profile',{'id':commenter.id}) }}">{{ commenter.username }}</a></td>
                        <td class="ranking_total">{{ commenter.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>
            <h3>
                <a href="{{ url('ranking_full_list', {id: 'breakers'})}}{{ filters_query_string }} ">
                    Top Build Breakers
                </a>
            </h3>
            <table class="table table-striped pr_list">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for breaker in breakers %}
                    <tr>
                        <td><a href="{{ url('profile',{'id':breaker.id}) }}">{{ breaker.username }}</a></td>
                        <td class="ranking_total">{{ breaker.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>